*{
  margin: 0px;
  padding: 0px;
}
body{
  text-align: center;
  font-family: Arial,Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}
.showcase {
  background-image: url(./../images/beach.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #926239;
  text-transform: capitalize;
}
.heading {
  min-width: 30vw;
  max-width: 100vw;
  font-size: 50px;
  line-height: 1.2;
  padding-top: 30%;
}
.title{
  font-size: 20px;
}
.button {
  font-size: 20px;
  padding:8px 15px;
 padding-top: 1px; 
  border-radius: 10px;
  text-decoration: none;
  border: #926239 1px solid;
  color: #926239;;
}
.button:hover{
  background-color:grey;
}

.article {
  display: block;
  background-color: #926239;
  color: #fff;
  box-sizing: border-box;
  text-align: left;
}
.column{
  display: inline-block;
  width: 33.33%;
  box-sizing: border-box;
  vertical-align: top;
  padding: 5px;;
}

.bg-white { 
  display: inline-block;
  color:black;;
  background-color:#fff;
  padding: 5px;;
  box-sizing:border-box;
  vertical-align: top;
  margin: 5px;
}
.new-column{
  display: inline-block;
  color:black;;
  background-color:#fff;
  padding: 20px;
  padding-top: 5px;
  box-sizing: border-box;
  vertical-align: top;
  width: 33.33%; 
}
